.rp-userInfo-box {
  position: fixed;
  width: 250px;
  z-index: 2001;
  padding: 5px;
  color: #000;
  background-color: #FFF;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;

  .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .rep {
    color: #805ad5;
    font-size: 0.9rem;
  }

  .joined {
    font-size: 0.9rem;
  }

  .username {
    line-height: 1rem;
  }

  .badge-count {
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 0.9rem;
  }
}

.rp-userInfo-box-dark {
  color: #FFF;
  background-color: #383737;
}
