.rp-better-sidebar-sidebar {
  min-width: 250px;

  &.rp-better-sidebar-sidebar-collapsed {
    min-width: 0;
    width: 61px;
  }
}

.rp-better-sidebar-collapse {
  color: #AAAAAA;
  font-size: 1.2rem;
}

.rp-better-sidebar-item {
  a:hover {
    text-decoration: none;
  }
}

.rp-better-sidebar-star {
  color: #4a4a4a !important;
  transition: color 150ms;
  font-size: 1.1rem !important;

  &:hover,
  &.rp-better-sidebar-favorited {
    color: #FFF !important;
  }
}

.rp-better-sidebar-guild-icon {
  font-size: 1.2rem !important;
}
