.rp-better-sidebar-sidebar {
  min-width: 260px;

  &.rp-better-sidebar-sidebar-collapsed {
    min-width: 0;
    width: 61px;
  }
}

.rp-better-sidebar-collapse {
  color: #AAAAAA;
  font-size: 1.2rem;
}

.rp-better-sidebar-item {
  a:hover {
    text-decoration: none;
  }
}

.rp-better-sidebar-guild-name {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rp-better-sidebar-star {
  color: #545454 !important;
  transition: color 150ms;
  font-size: 1.1rem !important;
  cursor: pointer;

  &:hover,
  &.rp-better-sidebar-favorited {
    color: gold !important;
  }
}

.rp-better-sidebar-pen {
  color: #545454 !important;
  font-size: 1.1rem !important;
  transition: color 150ms;

  &:hover {
    color: #FFF !important;
  }
}

.rp-better-sidebar-guild-icon {
  font-size: 1.2rem !important;
}
