$height-header: 48px;

.rp-better-media-iframe {
  max-width: 100%;
}

.rp-better-media-load {
  display: block;
}

.rp-better-media-image-container {
  display: block;
  position: relative;
  width: 500px;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid #7b7b7b;

  &.rp-better-media-collapsed {
    max-height: 600px;
  }

  img:not(.rp-better-media-load) {
    max-width: 100%;
  }

  img.rp-better-media-load {
    display: inline-block;
  }

  &:hover {
    text-decoration: none;
  }
}

.rp-better-media-video-container {
  display: block;
  position: relative;
  width: 500px;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid #7b7b7b;
  font-size: 0;

  video {
    width: 100%;
  }

  &:hover {
    text-decoration: none;
  }
}

.rp-better-media-overflow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.47);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rp-better-media-attrib {
  padding-top: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
}

.rp-better-media-blockquote {
  background-color: transparent;
  border-left: 0;
}

.rp-better-media-mask {
  position: fixed;
  top: $height-header;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 1000;
  opacity: 0.7;
}

.rp-better-media-popup-container {
  position: fixed;
  top: $height-header;
  bottom: 50px;
  width: 100%;
  height: 100%;
  z-index: 1001;
  overflow-y: auto;
}

.rp-better-media-popup-content {
  position: absolute;
  top: 25px;
  width: auto;
  left: 50%;
  height: auto;
  min-height: 100%;
  margin-bottom: 25px;
  transform: translateX(-50%);
  z-index: 1002;
}
