@import "vars";
@import "~toastr/build/toastr.css";
@import "pure-popup";

.rp-pointer {
  cursor: pointer;
}

.rp-hidden {
  display: none;
}

.rp-user-tag-wrap:not(.rp-user-tag-wrap-empty) {
  margin: 0 0.25rem;
  padding: 0 0.25rem;
  font-weight: 700;
  background-color: rgba(247, 6, 6, 0.25);
}

.rp-preview-post-container {
  width: 100%;
  padding: 10px;
  color: #718096;
  border-width: 2px;
  border-style: solid;
  border-color: #e2e4e7;
  background-color: #f5f7fa;

  &:hover {
    border-color: #bfabea;
  }

  img {
    max-width: 100%;
  }
}

.rp-preview-post-container-dark {
  color: #aaa;
  background-color: #383838;
  border-color: #292929;
}

#toast-container {
  margin-top: 15px !important;

  & > div {
    padding-left: 15px !important;
  }
}

#toast-container > .toast-success {
  background-image: none !important;
}

#toast-container > .toast-error {
  background-image: none !important;
}

.toast-success {
  background-color: #51A351;
}

.toast-error {
  background-color: #BD362F;
}
