@import "vars";
@import "~toastr/build/toastr.css";
@import "pure-popup";

.pointer {
  cursor: pointer;
}

.rp-user-tag-wrap:not(.rp-user-tag-wrap-empty) {
  margin: 0 0.25rem;
  padding: 0 0.25rem;
  font-weight: 700;
  background-color: rgba(247, 6, 6, 0.25);
}

.rp-preview-post-container {
  width: 100%;
  padding: 10px;

  &:hover {
    border-color: #bfabea;
  }

  img {
    max-width: 100%;
  }
}

.rp-preview-post-container-dark {
  color: #aaa;
  background-color: #383838;
  border: 2px solid #292929;
}
