@import "vars";

$theme-colors: (
  "primary": $color-primary,
  "danger": #ff4136
);

@import "~bootstrap/scss/bootstrap.scss";

body {
  width: 230px;
  height: auto;
  color: #FFF;
  background-color: #000;
}

header {
  background-color: $color-primary;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.rep {
  color: #805ad5;
  font-size: 0.8rem;
}

.username {
  font-size: 0.9rem;
  line-height: 0.9rem;
}

.badge-count {
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 0.9rem;
}

.fa-bell {
  color: grey;
  font-size: 1.5rem;
}

.hidden {
  display: none !important;
}
