@import "vars";

$theme-colors: (
  "primary": $color-primary,
  "danger": #ff4136
);

@import "~bootstrap/scss/bootstrap.scss";
@import "~toastr/build/toastr.css";
@import "modal";

body,
html,
#mount {
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  color: #FFF;
  background-color: #000;
}

header {
  color: #FFF;
  font-weight: 700;
  text-align: center;
  background-color: $color-primary;
}

.sidebar {
  width: 300px;
  min-width: 300px;
  background-color: #1d1d1d;

  .list-group-item {
    color: #FFF;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover,
    &.active {
      text-decoration: none;
      background-color: #292154;
    }
  }
}

.settings-page {
  h3 {
    background-color: #2b2b2b;
  }
}

.settings-theme-active {
  border: 1px solid $color-primary !important;
}

.settings-theme-card {
  border: 1px solid rgba(152, 152, 152, 0.125);
}

.settings-cog-icon {
  cursor: pointer;
  transition: color 250ms;

  &:hover {
    color: #FFF !important;
  }
}

#toast-container {
  margin-top: 15px !important;

  & > div {
    padding-left: 15px !important;
  }
}

#toast-container > .toast-success {
  background-image: none !important;
}

#toast-container > .toast-error {
  background-image: none !important;
}

.toast-success {
  background-color: #51A351;
}

.toast-error {
  background-color: #BD362F;
}
